.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
}

.logo{
    cursor: pointer;
    width: 130px;
}
nav {
    flex: 1;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 10px 22px;
    font-size: 17px;
    cursor: pointer;
}
.Listitems{
    padding: 2rem;
}